@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700&display=swap');


body {
  font-family: 'Open Sans';
  background-color: rgb(240, 240, 240)
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #268bd2;
}

h2 {
  color: #339af0;
}

h1, h2 {
  font-family: 'Poppins';
}

h1 {
  color: #3c415e;
}

.img-circle {
  width: 120px;
  border-radius: 50%;
}

@media (max-width: 1366px) {
  /* For a screen < 1366px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

.card-white {
  margin: 20px 0px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  padding: 40px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline-block;
}

.social-icon{
  font-size: 32px;
  color:rgb(220, 220, 220);
  margin: 8px 24px;
}

.social-icon:hover {
  color:black;
}

.btn-blue {
  background-color: rgb(86, 86, 211);
  padding: 10px 15px;
  color: white;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: black;
}

p {
  margin-bottom: 40px;
}
