@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700&display=swap');


body {
  font-family: 'Open Sans';
  background-color: rgb(240, 240, 240)
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #268bd2;
}

a:hover {
  color: #1b6295;
}

h2 {
  color: #0e101c;
}

h1, h2 {
  font-family: 'Poppins';
}

h1 {
  color: #3c415e;
}

.img-circle {
  width: 150;
  border-radius: 50%;
}
